
@{
    ViewBag.Title = "DetailPromotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Voude.Areas.Admin.Models;
@model VOUCHER

<!-- Blog -->
<div class="container blog blogpost">
    <div class="section-padding"></div>
    <div class="row">

        <div class="col-md-9 col-sm-8 content-area">
            <article class="type-post">
                <div class="entry-cover">
                    <img src="@Model.images"
                         alt="@Model.alt"
                         width="820"
                         height="410" />
                    <div class="entrycover-shape"></div>
                    <span class="icon icon-Picture"></span>
                </div>
                <div class="entrycontent-block">
                    <div class="entry-meta">
                        <div class="post-date">@Model.startDate</div>
                    </div>
                    <h3 class="entry-title">
                        @Model.name
                    </h3>
                    <div class="entry-content">
                        <p> @Model.description </p>                      
                    </div>
                    <div class="entrymeta-block">
                        <div class="post-by">
                            <a href="#" title="Stevan Smith"><span class="icon icon-User"></span> Stevan Smith</a>
                        </div>
                        <div class="post-like">
                            <a href="#" title="10 Like"><span class="icon icon-Heart"></span> 10 Lượt thích</a>
                        </div>                        
                        <div class="post-share">
                            <span class="icon icon-Share"></span>Chia sẻ
                            <ul>
                                <li class="share-fb">
                                    <a href="#" title="Facebook">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="share-gp">
                                    <a href="#" title="Google Plus">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="share-twt">
                                    <a href="#" title="Twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="share-drb">
                                    <a href="#" title="Dribbble">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </article>

        </div>

        <div class="col-md-3 col-sm-4 widget-area">
            <aside class="widget widget-search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm . . ." />
                    <span class="input-group-btn">
                        <button class="btn btn-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </aside>
            <aside class="widget widget-catagories">
                <h3 class="widget-title">Ưu đãi khác</h3>
                <ul>
                    <li>
                        <a href='@Url.Action("AmThucPage", "Category")' title="Food & Restaurant">Ẩm thực<span>@ViewBag.AT</span></a>
                    </li>
                    <li>
                        <a href='@Url.Action("MuaSamPage", "Category")' title="Business Circle">Mua Sắm<span>@ViewBag.MS</span></a>
                    </li>
                    <li>
                        <a href='@Url.Action("SucKhoePage", "Category")' title="Shopping Directory">Sức Khỏe<span>@ViewBag.SK</span></a>
                    </li>
                    <li>
                        <a href='@Url.Action("DuLichPage", "Category")' title="Travel and Tourism">Du Lịch<span>@ViewBag.DL</span></a>
                    </li>
                    <li>
                        <a href='@Url.Action("GiaoDucPage", "Category")' title="Financial Services">Giáo Dục<span>@ViewBag.GD</span></a>
                    </li>
                    <li>
                        <a href='@Url.Action("LamDepPage", "Category")' title="Automotive Section">Làm Đẹp<span>@ViewBag.LD</span></a>
                    </li>
                </ul>
            </aside>
            <aside class="widget widget-latestposts">
                <h3 class="widget-title">SẢN PHẨM CÙNG LOẠI</h3>
                @foreach (VOUCHER vc in (ViewBag.SPCL as IEnumerable<VOUCHER>))
                {
                    <div class="latest-block">
                        <div class="latest-content">
                            <a href="/Home/DetailPromotion/@vc.id">
                                <img src="@vc.images"
                                     alt="@vc.alt"
                                     width="72"
                                     height="77" />
                            </a>
                            <h3>
                                <a href="/Home/DetailPromotion/@vc.id"
                                   title="@vc.alt">@vc.name</a>
                            </h3>
                            <span>@vc.endDate</span>
                        </div>
                    </div>
                }

            </aside>
            <!-- <aside class="widget widget-catagories widget-archives">
          <h3 class="widget-title">Archives</h3>
          <ul>
            <li>
              <a href="#" title="November">November 2015<span>15</span></a>
            </li>
            <li>
              <a href="#" title="October">October 2015<span>08</span></a>
            </li>
            <li>
              <a href="#" title="September">September 2015<span>25</span></a>
            </li>
            <li>
              <a href="#" title="August">August 2015<span>18</span></a>
            </li>
            <li>
              <a href="#" title="July">July 2015<span>22</span></a>
            </li>
            <li>
              <a href="#" title="June">June 2015<span>06</span></a>
            </li>
          </ul>
        </aside>
        <aside class="widget widget-tag">
          <h3 class="widget-title">Populer tags</h3>
          <div class="tags">
            <a href="#" title="Fashion">Fashion</a>
            <a href="#" title="Discount">Discount</a>
            <a href="#" title="Food">Food</a>
            <a href="#" title="Home Tools">Home Tools</a>
            <a href="#" title="Sale">Sale</a>
            <a href="#" title="Movies">Movies</a>
            <a href="#" title="Technology">Technology</a>
            <a href="#" title="Photography">Photography</a>
          </div>
        </aside> -->
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<!-- Blog /- -->
