
@{
    ViewBag.Title = "Home2222";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Voude.Areas.Admin.Models

<!-- Deal Section -->
<div id="deal-section" class="container deal-section">
    <div class="section-padding"></div>
    <div class="section-header">
        <h3>Nổi bật nhất</h3>
        <!-- <p>
          Hãy nhanh tay thêm vào giỏ hàng những ưu đãi, voucher !
        </p> -->
    </div>
    <div class="row">
        @foreach (VOUCHER vc in (ViewBag.hot as IEnumerable<VOUCHER>))
        {
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="dealbox">
                    <div class="deal-thmbimg">
                        <a href="/Home/DetailPromotion/@vc.id">
                            <img src="@vc.images"
                                 width="370"
                                 height="247"
                                 alt="@vc.alt" />
                            <p>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>@vc.percent</span>
                            </p>
                        </a>
                    </div>
                    <div class="deal-content">
                        <h3>@vc.name</h3>
                        <a href="#" title="Lấy ngay" class="getdeal-btn">
                            <span class="get-coupencode">12xjuox</span>
                            <span class="getdeal">Lấy ngay</span>
                        </a>
                        <div class="expire"><span>Hạn sử dụng :</span> @vc.endDate</div>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="section-padding"></div>
</div>
<!-- Deal Section /- -->
<!-- Shoping Brands -->
<div id="shopingbrands" class="container-fluid no-padding shopingbrands">
    <div class="section-padding"></div>
    <div class="container">
        <div class="section-header">
            <h3>Danh sách đối tác</h3>
            <!-- <p>All popular Stores listed, covering all Shopping needs.</p> -->
        </div>
        <div class="row">
            @foreach (PARTNER pn in (ViewBag.Partner as IEnumerable<PARTNER>))
            {
                <div class="col-md-2 col-sm-3 col-xs-3">
                    <div class="brandbox">
                        <img src="@pn.logo"
                             alt="@pn.alt"
                             width="178"
                             height="100" />
                        <a href="#" title="@pn.name" class="brand-content">
                            <span>Tiết kiệm đến</span><span class="off-per">@pn.percent</span><span>Tổng hóa đơn</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<!-- Shoping Brands /- -->
<!-- PopularCategory -->
<div class="container popularcategory">
    <div class="section-padding"></div>
    <div class="section-header">
        <h3>Danh mục ưu đãi</h3>
        <!-- <p>Want more?Start by Exploring the categories</p> -->
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories4.jpg"
                         alt="categories4"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Pizza"></span>
                    <a href="/Category/AmThucPage" title="Food & Dining">Ẩm thực</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories3.jpg"
                         alt="categories3"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Tshirt"></span>
                    <a href="/Category/MuaSamPage" title="Fashion">Mua sắm</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories8.jpg"
                         alt="categories8"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Pulse"></span>
                    <a href="/Category/SucKhoePage" title="Beauty & Health">Sức khỏe</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories7.jpg"
                         alt="categories7"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Plaine"></span>
                    <a href="/Category/DuLichPage" title="Travel">Du lịch</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories1.jpg"
                         alt="categories1"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Espresso"></span>
                    <a href="/Category/GiaoDucPage" title="Kitchen Item">Giáo dục</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories2.jpg"
                         alt="categories2"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Phone"></span>
                    <a href="/Category/LamDepPage" title="Mobile & Tablets">Làm đẹp</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories5.jpg"
                         alt="categories5"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-DesktopMonitor"></span>
                    <a href="/Home/CategoryPromotion" title="Computers">Khác</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<!-- PopularCategory /- -->
<!-- ShopTrading -->
<div class="container-fluid no-padding shoptrading">
    <div class="section-padding"></div>
    <div class="container">
        <div class="section-header">
            <h3>Xu hướng hiện nay</h3>
            <!-- <p>Save big with our recommended deals in all categories</p> -->
        </div>
        <div id="shoptrading-carousel" class="shoptrading-carousel">
            <div class="tradingbox">
                <img src="~/Content/images/shoptrading1.jpg"
                     alt="shoptrading1"
                     width="230"
                     height="110" />
                <p>Tiết kiệm 100.000đ cho mỗi hóa đơn từ 500.000đ trở lên</p>
                <a href="#" title="view this offer">Xem chi tiết</a>
            </div>
            <div class="tradingbox">
                <img src="~/Content/images/shoptrading2.jpg"
                     alt="shoptrading2"
                     width="230"
                     height="110" />
                <p>Tiết kiệm 100.000đ cho mỗi hóa đơn từ 500.000đ trở lên</p>
                <a href="#" title="view this offer">Xem chi tiết</a>
            </div>
            <div class="tradingbox">
                <img src="~/Content/images/shoptrading3.jpg"
                     alt="shoptrading3"
                     width="230"
                     height="110" />
                <p>Tiết kiệm 100.000đ cho mỗi hóa đơn từ 500.000đ trở lên</p>
                <a href="#" title="view this offer">Xem chi tiết</a>
            </div>
            <div class="tradingbox">
                <img src="~/Content/images/shoptrading4.jpg"
                     alt="shoptrading4"
                     width="230"
                     height="110" />
                <p>Tiết kiệm 100.000đ cho mỗi hóa đơn từ 500.000đ trở lên</p>
                <a href="#" title="view this offer">Xem chi tiết</a>
            </div>
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<!-- ShopTrading /- -->
<!-- LatestBlog -->
<div class="container latestblog">
    <div class="section-padding"></div>
    <div class="section-header">
        <h3>Mới nhất</h3>
        <!-- <p>Recent News from our blog</p> -->
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <article class="type-post">
                <div class="entry-cover">
                    <a href='@Url.Action("DetailPromotion", "Home")'>
                        <img src='@Url.Content("~/Content/images/latestblog3.jpg")' alt="latestblog3"
                             width="370"
                             height="310" />
                        <div class="entrycover-shape"></div>
                        <span class="icon icon-Picture"></span>
                </div>
                <div class="entrycontent-block">
                    <div class="entry-meta">
                        <div class="post-date">27 Tháng 11 2020</div>
                    </div>
                    <h3 class="entry-title">
                        @Html.ActionLink("Thời trang Huy Hoàng", "DetailPromotion", "Home")

                    </h3>
                    <div class="entry-content">
                        <p>
                            Hãy đến với thế giới thời trang Huy Hoàng, nơi bạn có thể chọn cho mình những bộ trang phục sang trọng bậc nhất thế giới !
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <article class="type-post">
                <div class="entry-cover">
                    <a href='@Url.Action("DetailPromotion", "Home")'>
                        <img src='@Url.Content("~/Content/images/latestblog3.jpg")' alt="latestblog3"
                             width="370"
                             height="310" />
                        <div class="entrycover-shape"></div>
                        <span class="icon icon-Picture"></span>
                </div>
                <div class="entrycontent-block">
                    <div class="entry-meta">
                        <div class="post-date">27 Tháng 11 2020</div>
                    </div>
                    <h3 class="entry-title">
                        @Html.ActionLink("Thời trang Huy Hoàng", "DetailPromotion", "Home")
                    </h3>
                    <div class="entry-content">
                        <p>
                            Hãy đến với thế giới thời trang Huy Hoàng, nơi bạn có thể chọn cho mình những bộ trang phục sang trọng bậc nhất thế giới !
                        </p>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <article class="type-post">
                <div class="entry-cover">
                    <a href='@Url.Action("DetailPromotion", "Home")'>
                        <img src='@Url.Content("~/Content/images/latestblog3.jpg")' alt="latestblog3"
                             width="370"
                             height="310" />

                        <div class="entrycover-shape"></div>
                        <span class="icon icon-Picture"></span>
                </div>
                <div class="entrycontent-block">
                    <div class="entry-meta">
                        <div class="post-date">27 Tháng 11 2020</div>
                    </div>
                    <h3 class="entry-title">
                        @Html.ActionLink("Thời trang Huy Hoàng", "DetailPromotion", "Home")
                    </h3>
                    <div class="entry-content">
                        <p>
                            Hãy đến với thế giới thời trang Huy Hoàng, nơi bạn có thể chọn cho mình những bộ trang phục sang trọng bậc nhất thế giới !
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<!-- LatestBlog /- -->